<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>XMGWB.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>9D8889EE1BEB8339006E9CFD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9D888A021BEB833A006E9CFD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9D888A0D1BEB833A006E9CFD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
